<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <title>%%TITLE%% | TwinPixel Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="%%DESCRIPTION%%" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>%%TITLE%%</h1>
        <p class="text-gray-400 mb-6">Gepubliceerd op: %%DATE%%</p>
      </div>
    </header>
    <main class="container">
      %%CONTENT%%
    </main>
    <footer>
      <div class="container">
        <p>© 2025 TwinPixel. Alle rechten voorbehouden.</p>
      </div>
    </footer>
  </body>
</html>
